@import 'global.css';
@import 'var.css';
@import 'poppin.font.css';

body {
    background-color: var(--color-background);
    min-height: 100vh;
}

header {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    text-align: center;
    position: relative;
    color: transparent;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    text-decoration: none;
    -webkit-text-stroke: .5px white;
}

header .title::before {
    content: 'Dean';
    width: 0;
    color: white;
    position: absolute;
    -webkit-text-stroke: none;
    overflow: hidden;
}

header .title:hover::before {
    animation: titleGrow .3s forwards;
}



header ul {
    display: flex;
}

header li {
    margin: 0 10px;
    list-style: none;
}

.header-link {
    position: relative;
    color: white;
    font-size: 25px;
}

.header-link::before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    border-bottom: 2px solid white;
    align-self: center;
    overflow: hidden;
}

.header-link:hover::before {
    animation: titleGrow .5s forwards;
}



main {
    padding: 200px 150px;
}

.intro-container {
    position: relative;
    display: flex;
    align-items: center;
}

.intro-text {
    color: white;
    font-size: 40px;
    font-weight: 200;
    width: 50%;
    padding: 10px;
}

.intro-text::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-primary);
}

.intro-text::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-light-purple);
    bottom: 0;
    right: 0;
}

#hire-me-button {
    margin: 0 auto;
}

#hire-me-button-text {
    position: relative;
    color: transparent;
    font-size: 80px;
    font-style: italic;
    -webkit-text-stroke: .3px var(--color-light-purple);
    animation: updown 1s infinite alternate;
}

#hire-me-button-text::before {
    content: 'HireMe!';
    width: 0;
    position: absolute;
    color: var(--color-light-purple);
    overflow: hidden;
    -webkit-text-stroke: none;
}

#hire-me-button-text:hover {
    animation: none;
}

#hire-me-button-text:hover::before {
    animation: titleGrow .7s forwards;
}

.unique-section {
    margin-top: 100px;
}

.unique-text {
    display: flex;
    justify-content: center;
}

.unique-text h1 {
    cursor: default;
    position: relative;
    color: transparent;
    font-size: 45px;
    display: inline;
    font-style: italic;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px var(--color-primary);
}

.unique-text.first h1:first-child {
    -webkit-text-stroke: 1px var(--color-light-purple);
}

.unique-text.second h1:last-child {
    -webkit-text-stroke: 1px var(--color-light-purple);
}

.unique-text.first h1:first-child::before,
.unique-text.first h1:last-child::before,
.unique-text.second h1:first-child::before,
.unique-text.second h1:last-child::before {
    width: 0;
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
}

.unique-text.first h1:first-child::before {
    content: '<> Unique.';
    color: var(--color-light-purple);
}

.unique-text.first h1:last-child::before {
    content: 'Unparallel';
    color: var(--color-primary);
}

.unique-text.second h1:first-child::before {
    content: '<> Unique';
    color: var(--color-primary);
}

.unique-text.second h1:last-child::before {
    content: 'Unparallel';
    color: var(--color-light-purple);
}

.unique-text.first h1:first-child:hover::before,
.unique-text.first h1:last-child:hover::before,
.unique-text.second h1:first-child:hover::before,
.unique-text.second h1:last-child:hover::before {
    animation: titleGrow 1s forwards;
}


@keyframes updown {
    from {
        transform: translateY(-10%);
    }

    to {
        transform: translateY(10%);
    }
}

@keyframes titleGrow {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}